/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
}

body{
    /*background-color: burlywood;
    */background-color: #0b0c10;
    color: #c5c6c7;
}
