
.tt{
    margin-left: auto;
    margin-right: auto;
}
.set{
    float:left;
}
h1{
    color: #66fcf1
}
h2{
    color: #45a29e;
}
.card {
    /*font-family: Arial, Helvetica, sans-serif;*/
    box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.3);
    padding: 16px;
    text-align: left;
    background-color: #c5c6c7;
    margin: 40px;
    width: 300px;
    border-style: solid;
    border-color: #152833;
    border-radius: 10px;
    border-width: 1px;
    font-size: large;
    font-family: serif;
  }
.card p{
    color: #152833;
}
