
<div class="main">
    <br>
    <a *ngIf="loggedIn" href="./logout">Log Out</a>
<h1>Name :  {{userName}}</h1>
<br><br><br>

<h2> Stocks info from MySql database for user - </h2>
<!--
<div *ngFor="let s of stocks" class="set">
    <div class="card">
        <button type="button" (click)="unSave(s.savedStockSymbol)">Remove</button>
        <p>STOCK NAME = {{s.savedStockSymbol }}</p>
        <p>QUANTITY = {{s.quantity}}</p>
</div>
</div>
</div>
-->
<br><br>
<div class="main2"> 
    <div class="row">       
        <div *ngFor="let s of stocks" class="set">
            <div class="column col-lg-3 col-md-4 col-sm-6">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        
                        <div class="flip-card-front">
                            <div class="content">
                                <p>STOCK NAME = {{s.savedStockSymbol }}</p>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <div class="content">
                                <p class="back">QUANTITY = {{s.quantity}}</p>
                                <br>
                                <button type="button" (click)="changeQuan(s.savedStockSymbol, 'plus', s.quantity)">+</button>
                                <button type="button" (click)="unSave(s.savedStockSymbol)">Remove</button>
                                <button type="button" (click)="changeQuan(s.savedStockSymbol, 'minus', s.quantity)">-</button>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

