
a {
    margin-left: 5px;
    width: 100px;
    border-style: solid;
    border-width :3px;
    border-radius: 7px;
    text-decoration : none;
    padding:4px;
    border-color : #152833;
    background-color: #45a29e;
    color: #0b0c10;
    float:right;
    text-align: center;
    font-size: 20px;
  }
a:hover{
    background-color:#66fcf1;
    cursor: pointer;
}

label.searchbar {
  float: left;
  font-size: 20px;
  margin-left: 12px;
  margin-top: 2px;
  padding: 10px 8px 5px 12px;
}

span.searchbar {
  display: block;
  overflow: hidden;
  padding: 10px 8px 5px 10px;
}
input.searchbar {
  font-family: 'Courier New', Courier, monospace;
  margin-right: 20px;
  font-size: 16px;
  padding:2px;
}
button.searchbar{
  font-size: 16px;
  padding:2px;
  border-radius: 2px;
  border-width: 2px;
  font-size: medium;
  text-align: center;
}


label{
  padding-left: 20px;
  font-size: 20px;
}
option, select{
  font-size: 18px;
}

table{
  border: 2px solid #152833;
  border-collapse: collapse;
}

th{
  color:#45a29e;
  font-size: 22px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-right: 2px solid #152833;
  border-left: 2px solid #152833;
  border-bottom: 2px solid #152833;
  border-collapse: collapse;
}

td{
  text-align: center;
  font-size: 18px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-right: 2px solid #152833;
  border-left: 2px solid #152833;
  border-collapse: collapse;
}

.content button{
  padding: 2px 5px;
  color:#0b0c10;
  background-color: #45a29e;
  border-radius: 2px;
  border-width: 2px;
  font-size: medium;
  font-family: serif;
  text-align: center;
  margin-right: 2px;
  margin-left: 2px;

}

.content button:hover{
  cursor: pointer;
  background-color: #66fcf1;
}

.loader{
  text-align: center;
  font-size: 22px;
  color: #c5c6c7;

}
img.loader{
  text-align: center;
}