<br>

    <a *ngIf="loggedIn" href="./logout" >Log Out</a>
    <a *ngIf="!loggedIn" href="./login" >Log In</a>


<p style="font-size: 18px;" *ngIf="!loggedIn" class="login_Cond" >*To view Stock Recommendations and your Profile containing Saved Stocks, Please Log IN</p>
<div *ngIf="loggedIn" class="content">
    <h1>Recommended Stocks-</h1>
    <br><br><br>
    <form>  
        <label for="mCap">Choose a Market Cap: </label>
        <select (change)="changeCap($event)">
            <option value="any" selected="selected">any</option>
            <option value="Small Cap">Small Cap</option>
          <option value="Mid Cap">Mid Cap</option>
          <option value="Large Cap">Large Cap</option>
        </select>

        <label for="mService">Choose a Sector: </label>
        <select (change)="changeSector($event)">
            <option value="Financial Services" selected="selected">Financial Services</option>
            <option value="Communication Services">Communication Services</option>
          <option value="Basic Materials">Basic Materials</option>
          <option value="Consumer Cyclical">Consumer Cyclical</option>
          <option value="Industrials">Industrials</option>
          <option value="Technology">Technology</option>
          <option value="Real Estate">Real Estate</option>
          <option value="Consumer Defensive">Consumer Defensive</option>
          <option value="Utilities">Utilities</option>
          <option value="Energy">Energy</option>
          <option value="Healthcare">Healthcare</option>
        </select>

        <label for="mRow">Choose number of rows to see: </label>
        <select (change)="changeTopQuan($event)">
            <option value="5" selected="selected">5</option>
            <option value="10">10</option>
          <option value="15">15</option>
        </select>

        <label for="mGrowth">Order by: </label>
        <select (change)="changeGrowth($event)">
            <option value="growthpercent" selected="selected">Growth Percentage</option>
            <option value="growth">Growth</option>
        </select>
    </form>  
    <br>
    
    <table style="width:100%">
        <tr>
          <th>COMPANY</th>
          <th>SECTOR</th>
          <th>GROWTH</th>
          <th>GROWTH PERCENTAGE</th>
          <th>MARKET CAP</th>
          <th>MARKET PRICE</th>
          <th>SAVE</th>
        </tr>
        <tr *ngFor="let r of recomStocks; index as i">
            <td>{{r.companySymbol}}</td>
            <td>{{r.sector}}</td>
            <td>{{r.growth}}</td>
            <td>{{r.growthpercent}}</td>
            <td>{{r.marketCap}}</td>
            <td>{{r.marketPrice}}</td>
            <!--<span>{{chkStkSave(r.companySymbol)}}</span>-->
            <!--<div *ngIf="false || chkStkSave(r.companySymbol)"><button type="button" (click)="saveStock(r.companySymbol)">ADD</button></div>
            <div *ngIf="true && chkStkSave(r.companySymbol)" class="stockSaved">-Saved-</div>-->
            <!--<td><button *ngIf="false || chkStkSave(r.companySymbol)" type="button" (click)="saveStock(r.companySymbol)">ADD</button></td>
            <td><div *ngIf="true && chkStkSave(r.companySymbol)">-Saved-</div></td>-->
            <td><button type="button" (click)="saveStock(r.companySymbol)">ADD</button></td>
        
            
        </tr>
    </table>
</div>
