

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: aqua;
    color:brown;
    height: 55px;
    text-align : right;
	/*float: left;*/
    width: 100%;
}
button {
    background-color : #FAE8E0;
	color: #2E765E;
	padding : 15px 10px;
	text-align: center;
	font-size: 18px;
	width: 15%;
}
button.b2{
    float:left;
}

button.b1{
    float: right;
}
button:hover{
    background-color: chartreuse;
    
}
