<!--
<br>Username:<input type="text" #username />
<br>Password:<input type="text" #password/>
<br><button (click)="s(username.value,password.value)">Log In</button>
<br>Valid User Credentials:{{userVerified}}
-->

<h1>LOGIN PAGE</h1><br>    
    <div class="login">
    <form>    <!--id="login"-->
        <label><b>User Name     
        </b>  
        <br>  
        </label>    
        <input type="text" placeholder="Username" required="" #username name="username" id="username"/>    
        <br><br>    
        <label><b>Password     
        </b>  
        <br>  
        </label>    
        <input type="Password" placeholder="Password" required="" #password name="password" id="password"/>    
        <br><br>    
        <input type="button" value="Log In Here" #log name="log" id="log" (click)="s(username.value,password.value)" />       
        <br><br>        
    </form>     
</div>
<!--

<br><br><Br>
    <br><br><br>
    <br><br><br>
    
    <div class="container">
      <section id="content">
        <form>
          <h1>Login Form</h1>
          <div>
            <input type="text" placeholder="Username" required="" #username />
          </div>
          <div>
            <input type="password" placeholder="Password" required="" #password />
          </div>
          <div>
            <input type="button" value="Log in" (click)="s(username.value,password.value)" />
            
          </div>
        </form>
        
      </section>
    </div>
  -->
    
    