
body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#0b0c15;  
    font-family:Georgia, 'Times New Roman', Times, serif;  
}  
.login{  
        width: 350px;  
        overflow: visible;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #1f2833;  
        border-radius: 15px ;   
        position: relative;      
}  

h1{  
    text-align: center;  
    color: #66fcf1;; 
    /*font-size: 35px; 
    */padding: 20px;  
    font-family: Georgia, 'Times New Roman', Times, serif;
}  
label{  
    color:#45a29e;  
    font-size: 20px;  
    font-family: serif;
}  
form input[type="text"]{  
    width: 300px;  
    height: 35px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
form input[type="password"]{  
    width: 300px;  
    height: 35px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
} 
form input[type="button"] {  
    width: 300px;  
    height: 40px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: #c5c6c7;  
    background-color: #0b0c10;
    font-family: serif;
    font-size: 20px;
    cursor: pointer;
}  
form input[type="button"]:hover{
  background-color: #0b0c20;
}
