
<br>
<a *ngIf="loggedIn" href="./logout" >Log Out</a>
<a *ngIf="!loggedIn" href="./login" >Log In</a>

<br>
<p style="font-size: 18px;" *ngIf="!loggedIn" class="login_Cond">*To view Stock Recommendations and your Profile containing Saved Stocks, Please Log IN</p>
<p *ngIf="loggedIn"><br></p>
<br>
<!-- Sample News to see color pallete-->
<h1 style="color: #66fcf1; text-align: center;">NEWS</h1>
<br>
<p>sdfsg</p>
<p>sdfsg dfgdgdf sdgvjhbun djsibjksnk asygdyuabfj jkn guygai oioj j uho</p>
<p>sdfsg hjbhujn hb bqopackn kamln uw ijiojdan oijioj </p>
<br>
<p>sdfsg ekjkfwe jhbj uief ijik f</p>
<p>sdfsg gfr</p>